<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Christian Walker</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Christian Walker</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">April 14, 1998</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value"> Allegheny College </span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">walkerc3@allegheny.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Streetwear Website</label>
                <span class="value"><a href="#" target="_blank">animatrapparel.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
             Hello, nice to meet you. My name is Christian D. Walker. My nickname is Dubs. I am from Farrell,Pennsylvania. I currently attend Allegheny college with a double major in business economics and computer science.
        </p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
             I am an entrepreneur. I have always been invested in service work and giving back to the community. My life goal is to become a philanthropist and venture capitalist. I will give back to my family and hometown.

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Who is Christian Walker?</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>College Student</h6>
                    <p> Flexible in attending college and working on business endeavors </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Computer Science</h6>
                    <p>General knowledge of all languages, focus on data analytics and R studio.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Entrepreneur</h6>
                    <p>I'm invested in e-commerce and customer acquisition business projects. I currently have a streetwear brand. </p>
                </div>
            </div>
        </div>
     </div>
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Business Endeavors</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Animatr Apparel
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  A streetwear brand that breaks down the negative stereotypes surrounding anime fans by designing minimal & clean-cut anime inspired streetwear for all audiences.
                        I am gaining invaluable experience working with domestic and international customers. This experience is also strengthening my marketing skills with Instagram advertising and marketing techniques, Google Analytics and SEO.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Bonner Foundation
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I devote every week to service and giving back to the community. As a Bonner scholar, I have a commitment throughout the school year. Every week I commit 10 hours weekly to service and service Saturdays throughout the school year.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            E-Center@LindenPointe
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I was a tentant here during the summer of 2018, had a co-working and learned from many professionals. Here I used source material from Steve Blank’s Lean Launchpad, WKI Methodology and full Strategyzer to independently validate, develop and incubate my startup. The criteria was weekly meetings with professionals, update presentations and 10 customers every week. During my membership as a tenant here my business grew by +600% and +$2,500 in sales. I truly learned customer acquisition and built a following for my brand. I went from 300 followers over a span of 8 months to 900+ within the 3 months spent here. I did massive research on instagram marketing and have come to understand how its algorithm works.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->
